<% include ../partials/header %>



<div class="container">
<!--main container above-->

<div class="aligncenter m-3">
<h1>The most popular surf spots from around the world</h1> 
<br>
</div>


<!-- Surboard reviews -->
<% locations.forEach(function(area) { %>

<div class="row my-3">
    <div class="col">
        <h2><%=area[0].area %></h2>
        <a href="/locations/<%=area[0].area%>/">View all from <%=area[0].area%></a>
    </div>
</div>
<div class="row smallimg aligncenter">
    <% area.forEach( function(beach){ %>
    <div class="col">
        <img src="<%=beach.imgUrl%>"
            alt="">
        <div>
            <h3><%= beach.name %></h3>
            <p><%= beach.description.slice(0, 100) %>...</p>
            <br>
            <a href="/locations/<%=beach.area%>/<%=beach._id%>">READ MORE</a>
        </div>
    </div>
  <%  }); %>
<!-- end of row -->
</div>
<% }) %>

<!-- end of main container-->
</div>
<script>
    
</script>

<% include ../partials/footer %>