<%- include("../partials/header")  -%>



<div class="container bodycontainer">
    <!--main container above-->



    <!-- Title -->
    <div class="row py-4 text-center">
        <div class="col">
            <h1 class="subtitle"><%=beaches[0].area%></h1>
        </div>

    </div>

    <!-- List All beaches of area-->
    <div class="row">
        <% beaches.forEach(function(beach) { %>
        <div class="col-12 col-md-3 my-2">
            <div class="card border-light" >
                        <h5 class="card-header text-center"><%=beach.name%></h5>
                        <img class="card-img-top" src="<%=beach.imgUrl%>" alt="">
                        <div class="card-body">
                        <h5 class="card-title">STARS <%=beach.stars%></h5>
                        <p><%=beach.description.slice(0, 50)%>...</p>
                        <a href="/locations/<%=beach.area%>/<%=beach._id%>" class="btn btn-dark">Get Forecast</a>
                        </div>
                </div>
        </div>
  <%  }); %>
    </div>
        
            
   
    <!-- end of extras row-->



    <!-- end of main container-->
</div>
<script>

</script>

<%- include("../partials/footer")  -%>