<% include ../partials/header %>


<div class="container bodycontainer">
    <!-- main container -->
    <main>

        <!-- row for card/map-->
        <div class="row m-3 justify-content-center">
            <!-- column for card-->
            <div class="col-12 col-lg-8">
                <div class="card border-light">
                    <div class="card-header text-center">
                       <h2><%=beach.name%></h2>
                    </div>
                    <img src="<%=beach.imgUrl%>"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        
                        <h5 class="card-title">STARS: <%=beach.stars%></h5>
                        <p class="card-text"><%= beach.description %></p> 
                        <a href="#" class="btn btn-dark">Get Location</a>
                    </div>
                </div>
                
            </div>
        </div>

       <div class="row justify-content-center">
        <div class="col-8">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div>
                <form class="form-group" action="/locations/<%=beach.area%>/<%=beach._id%>/comments" method="POST">
                  <label for="newComment">Leave A Comment</label>
                  <textarea class="form-control" name="newComment" id="newComment" rows="3"></textarea>
                  <div class="d-flex justify-content-end">
                    <button class="m-2 justify-content-end btn btn-dark">Post</button>
                  </div>
                </form>
      
              </div>
            </li>
      
            <% beach.comments.forEach((c) => { %>
            <li class="list-group-item">
              <div class="comment">
                <div class="comment__profile"> 
                  <img src="https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="Avatar">
                <a id="user_name" class="comment__user"><%= c.author.username %></a>
                </div>
                <p class="comment__text"><%= c.text %></p>
                <div class="comment__buttons">
                  <button>0<i class="far fa-thumbs-up"></i></button>
                  <button>0<i class="far fa-thumbs-down"></i></button>
                  <% if (currentUser) { 
                    if(currentUser.username == c.author.username) { %>
                    
                  <button><i class="fas fa-times-circle"></i></button>
                  <% } } %>
                </div>
              </div>
            </li>
            <% }) %>
      
          </ul>
          <!-- end of list group-->
        </div>
        <!-- end of row-->
      </div>


<!-- end of main-->
</main>

<!-- end of main container -->
</div>


<% include ../partials/footer %>
