<% include ../partials/header %>



<div class="container">
    <!--main container above-->

    <!-- Title -->
    <div class="row py-4 text-center">
        <div class="col">
            <h2><%=type[0].productType%> Reviews</h2>
            <a href="">Add Review</a>
        </div>

    </div>

    <!-- List All products of type-->
    <div class="row">
        <%  type.forEach(function(item){ %>
        <div class="col-3">
              <div class="card" >
                        <h5 class="card-header">Featured</h5>
                        <img class="card-img-top" src="<%=item.imgUrl%>" alt="">
                        <div class="card-body">
                            <h5 class="card-title"> STARS <%=item.stars%>.</h5>
                            <p class="card-text"><%= item.description%></p>
                            <a href="/reviews/<%=item.productType%>/<%=item._id%>" class="btn btn-primary">Read More</a>
                        </div>
                </div>
        </div>
        <%   }) %>
    </div>
        



    <!-- end of main container-->
</div>
<script>

</script>

<% include ../partials/footer %>