<% include ../partials/header %>



<div class="container">
<!--main container above-->

<div class="aligncenter m-3">
<h1>Gear Reviews</h1> 
<br>
<a href=""> VIEW ALL REVIEWS</a>
<a href="">ADD REVIEW</a>
</div>


<!-- Surboard reviews -->
<div class="row m-3">
    <div class="col">
        <h2>LATEST SURFBOARDS REVIEWS</h2>
    </div>
</div>

<div class="row smallimg aligncenter">
<% surfboards.forEach(function(board) { %>
    <div class="col-4">
        <img src="<%= board.imgUrl %>"
            alt="">
        <div>
            <h3><%= board.product %></h3>
            <p><%= board.description %></p>
            <br>
            <a href="/reviews/<%=board.productType%>/<%=board._id%>">READ MORE</a>
        </div>
    </div>
<% }); %>
<!-- end of row-->
</div>

<div class="row">
    <div class="col">
        <a href="/reviews/<%=surfboards[0].productType%>"> More Surfboard Reviews</a>
    </div>
</div>
<!-- Wetsuits-->
<div class="row">
    <div class="col">
        <h2>Wetsuits</h2>
    </div>
<!-- end of row-->
</div>

<div class="row smallimg aligncenter">
    <% wetsuits.forEach(function(suit) { %>
    <div class="col-4">
        <img src="<%=suit.imgUrl%>"
            alt="">
        <div>
            <h3><%=suit.product%></h3>
            <p><%=suit.description%></p>
            <br>
            <a href="/reviews/<%=suit.productType%>/<%=suit._id%>">READ MORE</a>
        </div>
        
    </div>
<% }) %>
<!-- end of row -->
</div>

<div class="row">
    <div class="col">
        <a href="/reviews/<%=wetsuits[0].productType%>">More Wetsuit Reviews</a>
    </div>
</div>

<!-- The extras -->
<div class="row">
    <div class="col">
        <h2>THE EXTRAS</h2>
    </div>

</div>

<!-- the extras articles-->
<div class="row tinyimg m-0 aligncenter">
    <% extras.forEach(function(extra){ %>
    <div class="col-4">
        <div>
            <img src="<%=extra.imgUrl%>" alt="">
            <h3><%=extra.product%></h3>
            <p><%=extra.description%></p>
            <br>
            <a href="/reviews/<%=extra.productType%>/<%=extra._id%>">READ MORE</a>
        </div>
    </div>
  <%  }); %>
<!-- end of row -->
</div>

<div class="row">
        <div class="col">
            <a href='/reviews/<%=extras[0].productType%>'>MORE "EXTRAS REVIEWS</a>
        </div>
</div>
<!-- end of extras row-->



<!-- end of main container-->
</div>
<script>
    
</script>

<% include ../partials/footer %>