<%- include("../partials/header")  -%>



<div class="container bodycontainer">
<!--main container above-->

<div class="aligncenter m-3 py-3">
<h1 class="subtitle">Most Recent Reviews</h1> 
<!-- <a href="" class="mr-3"> VIEW ALL REVIEWS</a>
<a href="">ADD REVIEW</a> -->
</div>


<!-- loop through each product and display most recent 3 of each type-->
<% products.forEach(function(type){ %>
<div class="row my-3 py-2 text-center section">
    <div class="col">
        <h2><%=type[0].productType%></h2>
        <a class="btn btn-secondary btn-sm my-2" href="/reviews/<%=type[0].productType%>/">All <%=type[0].productType%> Reviews </a>
    </div>
</div>
<div class="row smallimg aligncenter my-5">
<% type.forEach( function(product) { %>
    <div class="col my-4">
        <img src="<%= product.imgUrl %>"
            alt="">
        <div>
            <h3><%= product.product %></h3>
            <p><%= product.description %></p>
            <br>
            <a class="btn btn-dark" href="/reviews/<%=product.productType%>/<%=product._id%>">READ MORE</a>
        </div>
    </div>
<% }); %>
<!-- end of row-->


</div>
<% }); %>


<!-- end of main container-->
</div>
<script>
    
</script>

<%- include("../partials/footer")  -%>